/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &matrix_transform;
    };

    matrix_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <4>;
        columns = <6>;
        map = <
            0  1  2  3  4  5
            6  7  8  9 10 11
           12 13 14 15 16 17
           18 19 20 21 22 23
        >;
    };
};

&kscan0 { 
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "row2col";
        &kscan0 {
    compatible = "zmk,kscan-gpio-matrix";
    diode-direction = "col2row";

    row-gpios = <
        &gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)  /* D4  */
        &gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)  /* D5  */
        &gpio1 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)  /* D6  */
        &gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)  /* D7  */
    >;
    col-gpios = <
        &gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)  /* D14 */
        &gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)  /* D15 */
        &gpio0 2  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)  /* A0  */
        &gpio0 3  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)  /* A1  */
        &gpio0 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)  /* A2  */
        &gpio0 5  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)  /* A3  */
    >;
    };
};
