#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp Y &kp U &kp I &kp O &kp P &kp PERIOD
        &kp H &kp J &kp K &kp L &kp UP &kp UNDERSCORE
        &kp B &kp N &kp M &kp LEFT &kp DOWN &kp RIGHT
        &kp RET &kp RSFT &kp RALT 
      >;
    };
  };
};