if SHIELD_CORNE_V4_LEFT_FULLGRID

config ZMK_KEYBOARD_NAME
    default "Corne V4"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNE_V4_LEFT_FULLGRID

config ZMK_SPLIT
    default y

endif
